.App {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flip-right {
  -webkit-animation: flip-right 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both;
  animation: flip-right 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@-webkit-keyframes flip-right {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
}
@keyframes flip-right {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
}
.flip-right2 {
  -webkit-animation: flip-right2 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both;
  animation: flip-right2 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
@-webkit-keyframes flip-right2 {
  0% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}
@keyframes flip-right2 {
  0% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}

.flip-left {
  -webkit-animation: flip-left 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: flip-left 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
@-webkit-keyframes flip-left {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
  }
}
@keyframes flip-left {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
  }
}
.flip-left2 {
  -webkit-animation: flip-left2 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both;
  animation: flip-left2 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
@-webkit-keyframes flip-left2 {
  0% {
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
  }
  100% {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
}
@keyframes flip-left2 {
  0% {
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
  }
  100% {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
}
